* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right, #EF629F, #EECDA3);
}

.MuiAccordionSummary-content {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px !important;
  align-items: center !important;
}

.react-multi-carousel-track {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
}


@media screen and (max-width : 700px) {

  .MuiModal-root {
    inset: 16px !important;
  }
}

@media screen and (max-width:510px) and (min-width : 410px) {
  .MuiPaper-root {
    left: 130px !important;
  }
}